<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="icon.png">
    <link rel="stylesheet" href="../dist/bundle.css" />
    <title>IFC.js web viewer</title>
  </head>
  <body>

  <nav>
      <p>V-Quest IFC Models</p>
      <ul>
        <li><a href="../src/index.html">Home</a></li>
        <li><a href="#">Models</a>
            <ul>
              <li><a href="../views/administrative.html">Administrative-Civic</a></li>
              <li><a href="../views/devotional.html">Devotional Buildings</a></li>
              <li><a href="../views/schools.html">Education - Schools</a></li>
              <li><a href="../views/tertiary.html">Education - Tertiary Institutions</a></li>
              <li><a href="../views/healthcare.html">Healthcare</a></li>
              <li><a href="../views/heritage.html">Heritage</a></li>
              <li><a href="../views/hospitality.html">Hospitality</a></li>
              <li><a href="../views/industrial.html">Industrial</a></li>
              <li><a href="../views/misc.html">Miscellaneous Buildings</a></li>
              <li><a href="../views/mixed.html">Mixed Use</a></li>
              <li><a href="../views/offices.html">Offices</a></li>
              <li><a href="../views/outdoor.html">Outdoor</a></li>
              <li><a href="../views/recreational.html">Recreational</a></li>
              <li><a href="../views/residential.html">Residential</a></li>
              <li><a href="../views/retail.html">Retail</a></li>
              <li><a href="../views/strengthening.html">Strengthening</a></li>
            </ul>
        </li>
      </ul>
  </nav>

  
    <div class="header">
      <h1>Administrative-Civic</h1>
    <!-- </div>
    <div class="input">
      <input type="file" name="load" id="file-input" />
    </div>
    <div class="canvas">
      <canvas id="three-canvas"></canvas>
    </div>
    <script src="../dist/bundle.js"></script>
  </body> -->
  <body>
    <div class="content">
      <p>Administrative Office, upto 2 storeys</p>
    </div>
    <div class="input">
      <input type="file" name="load" id="file-input" />
    </div>
    <div class="canvas">
      <canvas id="three-canvas"></canvas>
    </div>
    <script src="../dist/bundle.js"></script>
     </div>



      <p>Administrative Office, 3-5 storeys</p>
      <div>
        <button type="button">
          VIEW
        </button>
      </div>
      <p>Town Hall, 1000-2000 capacity</p>
      <div>
        <button type="button">
          VIEW
        </button>
      </div>
      </div>
      <p>Civic Centre, 500-750 capacity</p>
      <div>
        <button type="button">
          VIEW
        </button>
      </div>
      </div>
      <p>Community Centre and Library</p>
      <div>
        <button type="button">
          VIEW
        </button>
      </div>
      </div>
      <p>Library, Suburban</p>
      <div>
        <button type="button">
          VIEW
        </button>
      </div>
      </div>
      <p>Library, City</p>
      <div>
        <button type="button">
          VIEW
        </button>
      </div>
      </div>
      <p>Art Gallery/Museum, City</p>
      <div>
        <button type="button">
          VIEW
        </button>
      </div>
    </div>
      </body>
</html>


