<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/src/icon.png">
    <link rel="stylesheet" href="/dist/bundle.css" />
    <title>IFC.js web viewer</title>
  </head>
  <body>

  <nav>
    <a href="/index.html"><img src="/src/Green.jpg" class="logo" href="/index.html"></a>
      <p>IFC Models</p>
      <ul>
        <li><a href="#">Models</a>
            <ul>
              <li><a href="/views/administrative.html">Administrative-Civic</a></li>
              <li><a href="/views/devotional.html">Devotional Buildings</a></li>
              <li><a href="/views/schools.html">Education - Schools</a></li>
              <li><a href="/views/tertiary.html">Education - Tertiary Institutions</a></li>
              <li><a href="/views/healthcare.html">Healthcare</a></li>
              <li><a href="/views/heritage.html">Heritage</a></li>
              <li><a href="/views/hospitality.html">Hospitality</a></li>
              <li><a href="/views/industrial.html">Industrial</a></li>
              <li><a href="/views/misc.html">Miscellaneous Buildings</a></li>
              <li><a href="/views/mixed.html">Mixed Use</a></li>
              <li><a href="/views/offices.html">Offices</a></li>
              <li><a href="/views/outdoor.html">Outdoor</a></li>
              <li><a href="/views/recreational.html">Recreational</a></li>
              <li><a href="/views/residential.html">Residential</a></li>
              <li><a href="/views/retail.html">Retail</a></li>
              <li><a href="/views/strengthening.html">Strengthening</a></li>
            </ul>
        </li>
      </ul>
  </nav>
    <div class="header">
      <h1>Administration Office, upto 2 storeys</h1>
    </div>
    <iframe id="model-page" src="/models/admin/adminOffice2storey.html" frameborder="0"></iframe>
  </body>
</html>


